extends layout

block content
    mainSection
        contents
            div(class='flexMain')

                textbox(class='base0', style='order: 0;')
                    textBoxTitle(class='magenta') mission statement
                    textBoxText(class='base4')
                        p To promote the use and development of virtual reality and augmented reality technologies at El Camino 
                            | College.

                textbox(class='base0', style='order: 1;')
                    textBoxTitle(class='magenta') about us
                    textBoxText(class='base4')
                        p We are the El Camino College Virtual Reality Club. We are focused on bringing new and exciting virtual 
                            | reality development oppurtunities and experiences to the El Camino College Campus. Currently
                            | we are developing this website with the goal of creating new virtual reality experiences online 
                            | and to improve our ability to distribute our code.
                        p We have meetings every tuesday at 13:00 to 14:00 (1:00 p.m. to 2:00 p.m.) in 
                            | Art Building room 7.
