extends layout

block content
    mainSection
        contents
            div(class='flexMain')

                textbox(class='base0', style='order: 0;')
                    textBoxTitle(class='red') contact us
                    textBoxText(class='base4')
                        p
                            a(class='magenta', style='font-size: 1.5em;', class='mediumButton', href=' mailto:contact@eccvr.club') Email Us
                        p  
                            a(class='violet', style='font-size: 1.5em;', class='mediumButton', target='_blank', href='https://discord.gg/zkVDwdz') Discord
                        p
                            a(class='blue', style='font-size: 1.5em;', class='mediumButton', target='_blank', href='https://m.me/eccvr') Facebook
                        p Meetings are every Tuesday from 13:00 to 14:00 in Art Building Room 7.
