extends layout

block content
    mainSection
        contents
            div(class='flexMain')
                div(style='order: 0;')

                        p
                            a(onclick='fadeTo("about-us")', class='blue', class='mediumButton') About Us
                        p
                            a(onclick='fadeTo("upcoming-events")', class='magenta', class='mediumButton') Upcoming Events
                        //p
                        //    a(onclick='fadeTo("sign-up")', class='violet', class='mediumButton') Sign Up
                        p
                            a(onclick='fadeTo("resources")', class='cyan', class='mediumButton') Resources
                        //p
                        //    a(onclick='fadeTo("minutes")', class='red', class='mediumButton') Minutes
                        p
                            a(onclick='fadeTo("contact-us")', class='orange', class='mediumButton') Contact Us