extends layout

block content
    mainSection
        contents
            div(class='flexMain')

                minutesBox(class='base0', style='order: 0;')
                    minutesBoxTitle(class='green') 2018-10-23
                    minutesBoxText(class='base4')
                        // minutes go here.