extends layout

block content
    mainSection
        contents
            div(class='flexMain')


                textbox(class='base0', style='order: 0;')
                    textBoxTitle(class='blue') ACM
                    textBoxText(class='base4')
                        p The El Camino College chapter of the Association for Computing Machinery is a club devoted to
                            |  supporting and permoting computer science and related fields. They are open to all El Camino
                            |  College students.
                        p They have workshops for a wide variety of different topics and support the development of computer
                            | science related projects on campus.
                    textBoxFooter
                        a(class='blue', style='font-size: 1.5em;', class='mediumButton', target='_blank', href='http://elcamino.acm.org/') ACM Site


                textbox(class='base0', style='order: 1;')
                    textBoxTitle(class='orange') Occulus Dev Center
                    textBoxText(class='base4')
                        p The Occulus developer center provides an excellent resource for learning how to develop programs for
                            |  the Occulus VR headsets and the various software avalible for doing so. They also provide
                            |  information regarding planned releases of VR equipment and so on. Generally the software produced
                            |  for the Occulus headsets tends to be B2C oriented.
                    textBoxFooter
                        a(class='orange', style='font-size: 1.5em;', class='mediumButton', target='_blank', href='https://developer.oculus.com/') Occulus Site


                textbox(class='base0', style='order: 1;')
                    textBoxTitle(class='violet') Unity XR Tutorials
                    textBoxText(class='base4')
                        p The unity XR tutorials are an exellent series of tutorials for AR and VR game development, providing
                            | everyone from experienced programmers to complete beginners a good introduction to VR development.
                            | They cover a number of VR games ranging from a arcade game to a full adventure game for VR.
                        p The engine is not open source, though it is free to use.
                    textBoxFooter
                        a(class='violet', style='font-size: 1.5em;', class='mediumButton', target='_blank', href='https://unity3d.com/learn/tutorials/s/xr') Unity Site


                textbox(class='base0', style='order: 1;')
                    textBoxTitle(class='green') Apple ARKit Docs
                    textBoxText(class='base4')
                        p The apple ARKit is a framework for developing applications that use augmented reality technology on
                            | apple devices. This vastly simplifies the process of developing AR for apple devices as it serves
                            | as an out-of-the-box AR engine
                        p To use it you will need to have a working iOS device and use xcode on OSX to develop it. It is also
                            | not open source.
                    textBoxFooter
                        a(class='green', style='font-size: 1.5em;', class='mediumButton', target='_blank', href='https://developer.apple.com/documentation/arkit') Apple Site
