extends layout

block content
    mainSection
        contents
            div(class='flexMain')

                textbox(class='base0', style='order: 2;')
                    textBoxTitle(class='red') coming soon...
                    textBoxText(class='base4')
                        p This page is currently under construction and will soon be fully functional.
                    textBoxFooter
                            a(onclick='fadeTo("/")', style='font-size: 1.5em;',, class='cyan', class='mediumButton') Return Home
