extends layout

block content
    mainSection
        contents
            div(class='flexMain')

                textbox(class='base0', style='order: 0;')
                    textBoxTitle(class='orange') 2018-11-06
                    textBoxText(class='base4')
                        ul
                            li Discussion regarding database structuring and data retention for the eccvr.club website.
                            li Discussion regarding the creation of an intro to VR event.
                            li Development of a specific deployment plan for a VR fundraiser / demonstration event as well as
                                | date selection.

                textbox(class='base0', style='order: 1;')
                    textBoxTitle(class='blue') 2018-11-13
                    textBoxText(class='base4')
                        ul
                            li Discussion regarding the structuring of the backend of the eccvr.club website.
                            li IP discussion with regards to the VR club website and possible IP ammendment to the constitution.
                            li Plan to transfer the ownership and financial costs of the eccvr.club website to the Virtual
                                | Reality Club.

                textbox(class='base0', style='order: 2;')
                    textBoxTitle(class='red') 2018-11
                    textBoxText(class='base4')
                        ul
                            li Demonstration / fundraiser for VR club involving virtual reality headset on the library lawn.